* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to right, #4b6cb7, #182848);
}

.weather-container {
  max-width: 400px;
  width: 100%;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

h2 {
  margin: 1rem 0;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2rem;
}

p {
  margin: 0.5rem 0;
  color: #fff;
  font-size: 1.5rem;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

input[type="text"] {
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 1.5rem;
  padding: 0.5rem;
  text-align: center;
  transition: all 0.3s;
}

input[type="text"]:focus {
  outline: none;
  border-bottom-color: #49ff18;
}

button[type="submit"] {
  background-color: #222;
  border: 2px solid #fff;
  color: #fff;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

button[type="submit"]:hover {
  background-color: #49ff18;
  border-color: #49ff18;
}
